<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <meta property="og:title" content="How to Become an SEO Expert (8 Steps)" />
    <link id="fav1" rel="icon" type="image/png" sizes="32x32" data-dynamic-href="images/{dynamic}/favicon-32x32.png" class="png" href={"images/favicon-32x32.png"}>
    <link id="fav2" rel="icon" type="image/png" sizes="16x16" data-dynamic-href="images/{dynamic}/favicon-16x16.png" class="png" href={"images/favicon-16x16.png"}>
    <link id="fav3" rel="icon" class="svg" data-dynamic-href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'> <circle cx='50' cy='50' r='50' fill='SteelBlue' /> <text x='50%' y='50%' dominant-baseline='central' alignment-baseline='middle' text-anchor='middle' font-family='sans-serif' font-weight='bold' font-size='80' fill='white'>{dynamic}</text> </svg>">
    <%= live_title_tag assigns[:page_title] || "Phoenix Live Favicon", suffix: " · by Live Favicon" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav>
          <ul>
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
            <% end %>
          </ul>
        </nav>
        <a href="https://phoenixframework.org/" class="phx-logo">
          <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
